*{box-sizing:border-box;padding:0;margin:0;}
html,body,#root{width:100vw;height:100vh;position:relative;display:grid;justify-items:center;background-color:#d1d1d1;overflow-x:hidden;}
:root{
--pokemonCardBorderColor:rgb(78, 78, 78);
--pokemonCardBorderBackground:rgb(168, 168, 168);
--heightOfMenu:25px;
--shadow:rgb(37, 37, 37);
}
::placeholder{
color:var(--shadow);
}
#Menu input:hover, #Menu select:hover{
border:solid black 1px;
opacity:1 !important;
}
.PokemonCard img:hover{
animation:scaleUp 0.1s linear forwards;
}
.PokemonCard:hover #imgDiv{
border-style:dotted !important;
}
div .DataLine:hover{
border-bottom:solid var(--pokemonCardBorderColor) 2px !important;
animation:fontPlus 0.1s linear forwards;
}
.PokemonCard:hover{
opacity:0.7;
box-shadow:var(--shadow) 1px 1px !important;
border-style:dashed !important;
color:var(--pokemonCardBorderColor);
}
#rightMenu>*{
animation:fromzero 1s linear forwards;
transition:all 1s linear forwards;
}
#rightMenu input[type="button"]{
animation:fromzero 1s linear forwards;
transition:all 1s linear forwards;
}
@keyframes fontPlus{
from{}
to{font-size:0.95rem;}
}
@keyframes scaleUp{
from{}
to{transform:scale(120%);}
}
@keyframes fromzero{
from{transform:translateX(100%) scaleX(0%);}
to{transform:translateX(0%);}
}
@media only screen and (max-width: 605px){
#PokemonList{grid-template-columns:repeat(3, 1fr) !important;}
}
@media only screen and (max-width: 457px){
#PokemonList{grid-template-columns:repeat(2, 1fr) !important;}
}
@media only screen and (max-width: 305px){
#PokemonList{grid-template-columns:1fr !important;}
}